.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#{rootUrl}/') VizSec
      .nav-collapse
        ul.nav
          li: a(href='#{rootUrl}/#program') Program
          li: a(href='#{rootUrl}/#cfp') CFP
          li: a(href='#{rootUrl}/#submissions') Submissions
          li: a(href='#{rootUrl}/#dates') Dates
          li: a(href='#{rootUrl}/#venue') Venue
          li: a(href='#{rootUrl}/#committee') Committee
          li: a(href='#{rootUrl}/#contact') Contact
        ul.nav.pull-right
          li: a(href='#{rootUrl}/past.html')
            i.icon-calendar.icon
            span &nbsp; Past Events
          li: a(href='https://groups.google.com/forum/#!forum/vizsec')
            i.icon-envelope.icon
            span &nbsp; Mailing List
          li: a(href='#{rootUrl}/about.html')
            i.icon-info-sign.icon
            span &nbsp; About