.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#{baseUrl}/') VizSec 
      .nav-collapse
        ul.nav
          li: a(href='#{baseUrl}/#cfp') Call for Papers
          li: a(href='#{baseUrl}/#sub') Submissions
          li: a(href='#{baseUrl}/#dat') Dates
          li: a(href='#{baseUrl}/#hot') Hotel
          li: a(href='#{baseUrl}/#com') Committee
        ul.nav.pull-right
          li: a(href='#{baseUrl}/past.html')
            i.icon-calendar.icon-white
            span &nbsp; Past Events
          li: a(href='http://lists.vizsec.org/mailman/listinfo/info_lists.vizsec.org')
            i.icon-envelope.icon-white
            span &nbsp; Mailing List
          li: a(href='#{baseUrl}/about.html')
            i.icon-info-sign.icon-white
            span &nbsp; About