.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#{baseUrl}/') VizSec
      .nav-collapse
        ul.nav
          li: a(href='#{baseUrl}/#cfp') Call for Papers
          li: a(href='#{baseUrl}/#sub') Submissions
          li: a(href='#{baseUrl}/#dat') Dates
          li: a(href='#{baseUrl}/#hot') Hotel
          li: a(href='#{baseUrl}/#com') Committee
          li: a(href='#{baseUrl}/past.html') Past Events
          li: a(href='#{baseUrl}/about.html') About
