- var modifyDate = 'February 22, 2013'
- var eventDate = 'October 14, 2013'
- var eventLocation = 'Atlanta GA, USA'
- var year = 2013
- var hostConf = 'IEEE VIS'
- var hostConfUrl = 'http://ieeevis.org/'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 VizSec #{year} 
        small.hidden-phone  Visualization for Cyber Security
      h1.visible-phone
        small  Visualization for Cyber Security
      p #{eventDate} <br class='visible-phone' /><span class='hidden-phone'>&nbsp; / &nbsp;</span> #{eventLocation}
      p In conjunction with <a href='#{hostConfUrl}'>#{hostConf}</a>
  
    
    section#welcome
      .page-header
        h2 Welcome to VizSec 2013
      p VizSec will be held in #{eventLocation} on #{eventDate}. VizSec brings together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques.
      p VizSec will be held in conjunction with <a href='#{hostConfUrl}'>#{hostConf}</a>.
      p The proceedings will be in the <a href="http://dl.acm.org/event.cfm?id=RE500">ACM Digital Library</a>. Proceedings will be publicly available from around October 1 until the day of the event. A link will be posted here when they are available.
        
    section#program


    section#cfp
      .page-header
        h2 Call for Papers
      p The 10th International Symposium on Visualization for Cyber Security (VizSec) is a forum that brings together researchers and practitioners from academia, government, and industry to address the needs of the cyber security community through new and insightful visualization and analysis techniques. VizSec will provide an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics. Accepted papers will appear in the ACM Digital Library as part of the ACM International Conference Proceedings Series.
      p Important research problems often lie at the intersection of disparate domains. Our focus is to explore effective, scalable visual interfaces for security domains, where visualization may provide a distinct benefit, including computer forensics, reverse engineering, insider threat detection, cryptography, privacy, preventing 'user assisted' attacks, compliance management, wireless security, secure coding, and penetration testing in addition to traditional network security. Human time and attention are precious resources. We are particularly interested in visualization and interaction techniques that effectively capture human analyst insights so that further processing may be handled by machines, freeing the analyst for other tasks. For example, a malware analyst might use a visualization system to analyze a new piece of malicious software and then facilitate generating a signature for future machine processing. When appropriate, research that incorporates multiple data sources, such as network packet captures, firewall rule sets and logs, DNS logs, web server logs, and/or intrusion detection system logs, is particularly desirable.

      h3 Technical Papers
      p Full papers offering novel contributions in security visualization are solicited. Papers may present techniques, applications, practical experience, theory, analysis, or experiments and evaluations. We encourage papers on technologies and methods that promise to improve cyber security practices, including, but not limited to:
      ul
        li Situational awareness / understanding
        li Incident handling including triage, exploration, correlation, and response
        li Computer forensics
        li Recording and reporting results of investigation
        li Reverse engineering and malware analysis
        li Multiple data source analysis
        li Analyzing information requirements for computer network defense
        li Evaluation / User testing of VizSec systems
        li Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal perspective or a human factors perspective)
        li Modeling system and network behavior
        li Modeling attacker and defender behavior
        li Studying risk and impact of cyber attacks
        li Predicting future attacks or targets
        li Security metrics and education
        li Software security 
        li Mobile application security
        li Social networking privacy and security
      
      h3 Posters
      p Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations relevant to the VizSec community. Accepted poster abstracts will be made available on this website.

      h3 Awards
      p There will be an award for the best paper from the accepted program. The best paper award will be given to the paper judged to have the highest overall quality. A key element of the best paper selection process will be whether the results are believed to be repeatable by other scientists based on the algorithms and data provided in the paper. This award will be chosen by the program committee.
      
      h3 Data
      p If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the <a href="http://www.vacommunity.org/VAST+Challenge+2012">VAST 2012 Challenge data</a>. <a href="http://hcil.cs.umd.edu/localphp/hcil/vast11/index.php">VAST 2011</a> also had cyber security data if you are looking for additional data.
      
      section#sub
        .page-header
          h2 Submissions
        h3 Papers
        p Papers should be at most 8 pages including the bibliography and appendices. Committee members are not required to read the appendices or any pages past the maximum. Submissions not meeting these guidelines will be rejected without consideration of their merits. Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented at the conference, preferably by themselves or by prior arrangement through a delegate.
        h3 Posters
        p Poster submissions consist of an extended abstract of at most 2 pages including figures and references. Authors must present a corresponding poster during the designated poster session. Poster authors have the opportunity to give a brief oral preview during a plenary "fast forward" session.
        h3 Paper Formatting
        p The VizSec proceedings will be published by ACM. The <a href='https://www.acm.org/sigs/publications/proceedings-templates'> ACM SIG Proceedings Templates</a> provides Word and LaTeX templates. (If you are using LaTeX, please use <strong>Option 2: LaTeX2e - Tighter Alternate style</strong>.) 
        p Authors should apply <a href='https://www.acm.org/about/class/1998'>ACM Computing Classification categories and terms</a>. ACM invites authors to submit an image representation of their article. The image must be selected from the article body and can be any of the following: art, graphic, table, figures, etc. (Image files are to be as square as possible, 100x100 ppi and in jpg format.) Authors must supply a caption with the image. The caption length should be no more than 512 characters.
        h3 Submission
        p Submit papers and poster abstracts using EasyChair: <a href='http://www.easychair.org/conferences/?conf=vizsec2013'>http://www.easychair.org/conferences/?conf=vizsec2013</a>

    section#dat
      .page-header
        h2 Dates
      dl.dl-horizontal.date-list
        dt July 8, #{year}
        dd Paper Submission
        dt August 16, #{year}
        dd Author Notification
        dt August 30, #{year}
        dd Camera Ready Submission and Copyright forms
        dt September 6, #{year}
        dd Poster Abstract Submission
        dt October 1, #{year}
        dd Papers available in ACM Digital Library
        dt #{eventDate}
        dd VizSec


    section#hot


    section#com
      .page-header
        h2 Committee
      dl
        dt General Chair
        dd <a href="http://jgoodall.github.com/">John Goodall</a>, Oak Ridge National Laboratory
        dt Program Chairs
        dd Daniel Quist, MIT Lincoln Laboratory
        dd <a href="http://www.cs.ucdavis.edu/~ma/">Kwan-Liu Ma</a>, University of California, Davis
        dt Publications / Publicity Chair
        dd <a href="http://sjengle.cs.usfca.edu/">Sophie Engle</a>, University of San Francisco
        dt Poster Chair
        dd <a href="http://www.vis.uni-konstanz.de/en/members/fischer/">Fabian Fischer</a>, University of Konstanz

      h4 Program Committee
      p Coming soon.

    section#con
      .page-header
        h2 Contact
      p Email questions to <a href="mailto:vizsec2013@easychair.org">vizsec2013@easychair.org</a> or post to the <a href="https://groups.google.com/forum/#!forum/vizsec">Google Group</a>.

    include includes/foot