- var modifyDate = 'February 24, 2014'
- var year = 2014
- var eventDate = 'November 10, 2014'
- var eventLocation = 'Paris, France'
- var hostConf = 'IEEE VIS'
- var hostConfUrl = 'http://ieeevis.org/'

include includes/head
body
  include includes/nav
  .container
    header.hero-unit
      h1 VizSec #{year} 
        small.hidden-phone  Visualization for Cyber Security
      h1.visible-phone
        small  Visualization for Cyber Security
      p #{eventDate} <br class='visible-phone' /><span class='hidden-phone'>&nbsp; / &nbsp;</span> #{eventLocation}
      p In conjunction with <a href='#{hostConfUrl}'>#{hostConf}</a>
  
    section#news
      .alert.alert-block.alert-info
        p VizSec 2014 will again be held in conjunction with <a href='#{hostConfUrl}'>#{hostConf}</a>.


    section#welcome
      .page-header
        h2 Welcome to VizSec #{year}
      p VizSec will be held in #{eventLocation} on #{eventDate}. VizSec brings together researchers and practitioners in information visualization and security to address the specific needs of the cyber security community through new and insightful visualization techniques.
      p VizSec will again be held in conjunction with <a href='#{hostConfUrl}'>#{hostConf}</a>.
      p The proceedings will be available in the <a href="http://dl.acm.org/event.cfm?id=RE500">ACM Digital Library</a>.


    //- section#program
    //-   .page-header
    //-     h2 Program

    //-   h3 Program Schedule
    //-   dl.dl-horizontal.program-list
    //-     dt 8:50 - 9:00
    //-     dd Kirsten Whitley, VizSec Chair : Welcome

    //-     dt 9:00 - 10:00
    //-     dd Keynote: <a href="#keynote">Speaker</a> - <strong>Title</strong>

    //-     dt 10:00 – 10:10
    //-     dd <i>Poster Fast Forward</i>

    //-     dt 10:10 – 10:45
    //-     dd Break

    //-     dt 10:45 – 12:00
    //-     dd <i>Paper Session</i>: Session Title
    //-       ul.unstyled
    //-         li <strong>Title</strong> <br />Authors
    //-         li <strong>Title</strong> <br />Authors

    //-     dt 12:00 – 2:00
    //-     dd Lunch

    //-     dt 2:00 – 3:15
    //-     dd <i>Paper Session</i>: Session Title
    //-       ul.unstyled
    //-         li <strong>Title</strong> <br />Authors

    //-     dt 3:15 - 3:40
    //-     dd <i>Paper Session</i>: Session Title
    //-       ul.unstyled
    //-         li <strong>Title</strong> <br />Authors

    //-     dt 3:40 – 4:15
    //-     dd Break

    //-     dt 4:15 - 5:05
    //-     dd <i>Paper Session</i>: Session Title
    //-       ul.unstyled
    //-         li <strong>Title</strong> <br />Authors

    //-     dt 5:10 - 5:55
    //-     dd Invited Speaker: <a href="#invited">Speaker</a> - <strong>Title</strong>


      //- h3#keynote Keynote
      //- h4 Speaker
      //- p <strong>Title</strong>
      //- p <a href='files/#{year}/Speaker-keynote.pdf'>presentation</a>
      //- p Summary & Bio

      //- h3#invited Invited Speaker
      //- h4 Speaker
      //- p <strong>Title</strong>
      //- p <a href='files/#{year}/Invited-presentation.pdf'>presentation</a>
      //- p Summary & Bio


      //- h3#papers Papers
      //- dl.paper-list
      //-   dt Authors
      //-   dd "Title"  <a href="DOI Link">paper link</a> | <a href='files/#{year}/Author.pdf'>presentation</a>


      //- h3#posters Posters
      //- dl.paper-list
      //-   dt Authors
      //-   dd "Title" <a href='files/#{year}/Author-poster.pdf'>poster</a> | <a href='files/#{year}/Author-abstract.pdf'>abstract</a>


    section#cfp
      .page-header
        h2 Call for Papers
      p The 11th Visualization for Cyber Security (VizSec) is a forum that brings together researchers and practitioners from academia, government, and industry to address the needs of the cyber security community through new and insightful visualization and analysis techniques. VizSec provides an excellent venue for fostering greater exchange and new collaborations on a broad range of security- and privacy-related topics. VizSec will be held in Paris, France on November 10, 2014 in conjunction with IEEE VIS. 

      p Important research problems often lie at the intersection of disparate domains. Our focus is to explore effective, scalable visual interfaces for security domains, where visualization may provide a distinct benefit, including computer forensics, reverse engineering, insider threat detection, cryptography, privacy, preventing user assisted attacks, compliance management, wireless security, secure coding, and penetration testing in addition to traditional network security. Human time and attention are precious resources. We are particularly interested in visualization and interaction techniques that effectively capture the insights of human analysts so that further processing may be handled by machines, freeing analysts for other tasks. For example, a malware analyst might use a visualization system to analyze a new piece of malicious software that facilitates generating a signature for future machine processing. When appropriate, research that incorporates multiple data sources, such as network packet captures, firewall rule sets and logs, DNS logs, web server logs, and/or intrusion detection system logs, is particularly desirable. 

      h3 Technical Papers
      p Full papers describing novel contributions in security visualization are solicited. Papers may present techniques, applications, practical experience, theory, analysis, or experiments and evaluations. We encourage the submission of papers on technologies and methods that promise to improve cyber security practices, including, but not limited to:
      ul
        li Situation awareness and/or understanding 
        li Incident handling including triage, exploration, correlation, and response 
        li Computer forensics 
        li Recording and reporting results of investigations 
        li Reverse engineering and malware analysis 
        li Multiple data source analysis 
        li Analyzing information requirements for computer network defense 
        li Evaluation and/or user testing of VizSec systems 
        li Criteria for assessing the effectiveness of cyber security visualizations (whether from a security goal perspective or a human factors perspective)
        li Modeling system and network behavior 
        li Modeling attacker and defender behavior 
        li Studying risk and impact of cyber attacks 
        li Predicting future attacks or targets 
        li Security metrics and education 
        li Software security 
        li Mobile application security 
        li Social networking privacy and security 
      
      p Accepted papers will appear in the <a href="http://dl.acm.org/event.cfm?id=RE500">ACM Digital Library</a> as part of the <a href="http://www.acm.org/publications/icp_series">ACM International Conference Proceedings Series</a>.

      //- h3 Posters
      //- p Poster submissions may showcase late-breaking results, work in progress, preliminary results, or visual representations relevant to the VizSec community. Accepted poster abstracts will be made available on this website.

      h3 Data
      p If you do not have real-world data to demonstrate your visualization, you may be interested in looking at the <a href="http://www.vacommunity.org/VAST+Challenge+2012">VAST 2012 Challenge data</a>. <a href="http://www.vacommunity.org/VAST+Challenge+2013%3A+Mini-Challenge+3">VAST 2013</a> and <a href="http://hcil.cs.umd.edu/localphp/hcil/vast11/index.php">VAST 2011</a> also had cyber security data if you are looking for additional data.
      
      section#submissions
        .page-header
          h2 Submissions
        h3 Papers
        p Papers should be at most 8 pages including the bibliography and appendices. Committee members are not required to read the appendices or any pages past the maximum. Submissions not meeting these guidelines will be rejected without consideration of their merit. Submitted papers must not substantially overlap papers that have been published or that are simultaneously submitted to a journal or a conference with proceedings. Authors of accepted papers must guarantee that their papers will be presented at the conference. 

        //- h3 Posters
        //- p Poster submissions consist of an extended abstract of at most 2 pages including figures and references. Authors must present a corresponding poster during the designated poster session. Poster authors have the opportunity to give a brief oral preview during a plenary "fast forward" session.
        //- h3 Paper Formatting

        p The VizSec proceedings will be published by ACM. The <a href='https://www.acm.org/sigs/publications/proceedings-templates'> ACM SIG Proceedings Templates</a> provides Word and LaTeX templates. (If you are using LaTeX, please use <strong>Option 2: LaTeX2e - Tighter Alternate style</strong>.) 
        p Authors should apply <a href='https://www.acm.org/about/class/1998'>ACM Computing Classification categories and terms</a>. 
        p ACM invites authors to submit an image representation of their article. The image must be selected from the article body and can be any of the following: art, graphic, table, figures, etc. (Image files are to be as square as possible, 100x100 ppi and in jpg format.) Authors must supply a caption with the image. The caption length should be no more than 512 characters.
        
        h3 Submission
        p Submit papers and poster abstracts using EasyChair: <a href='http://www.easychair.org/conferences/?conf=vizsec#{year}'>http://www.easychair.org/conferences/?conf=vizsec#{year}</a>
        

    section#dates
      .page-header
        h2 Important Dates

      p <strong>All deadlines are 5:00 PM PST</strong>

      h4 Papers
      dl.dl-horizontal.date-list
        dt August 1, #{year}
        dd Submission for Papers
        dt September 5, #{year}
        dd Author Notification for Papers
        dt September 26, #{year}
        dd Camera Ready Submission and Copyright Forms for Papers

      //- h4 Posters
      //- dl.dl-horizontal.date-list
      //-   dt August 23, #{year}
      //-   dd Abstract Submission for Posters
      //-   dt September 1, #{year}
      //-   dd Author Notification for Poster


    section#venue
      .page-header
        h2 Hotel and Venue
      p VizSec is held with <a href='#{hostConfUrl}'>#{hostConf}</a>. More details to follow.
    //-   p To register, continue to the <a href='http://ieeevis.org/year/#{year}/info/registration/conference-registration'>VIS Conference Registration page</a>.
    //-   p The conference will be located at the downtown <a href="http://www.marriott.com/hotels/travel/atlmq-atlanta-marriott-marquis/">Marriott Marquis Hotel</a>. The Atlanta Marriott Marquis, 3rd largest Marriott in the world, rises 50 stories and contains 1,569 rooms and 94 suites. For more information see the IEEE VIS <a href="http://ieeevis.org/year/#{year}/info/registration/conference-venue">venue information page</a>, <a href="http://ieeevis.org/year/#{year}/info/registration/hotel-information">hotel information page</a>, and <a href="http://ieeevis.org/year/#{year}/info/registration/travel-arrangements">travel information page</a>.


    section#committee
      .page-header
        h2 Committee
      dl
        dt General Chair
        dd Kirsten Whitley, US Department of Defense
        dt Program Chair
        dd <a href="http://sjengle.cs.usfca.edu/">Sophie Engle</a>, University of San Francisco
        dt Publications Chair
        dd <a href="http://codementum.org/">Lane Harrison</a>, Tufts University
        //- dt Poster Chair
        //- dd <a href="http://www.vis.uni-konstanz.de/en/members/fischer/">Fabian Fischer</a>, University of Konstanz
        dt Local Chair
        dd Nicolas Prigent, Sup&#233;lec
        dt website
        dd <a href="http://jgoodall.me/">John Goodall</a>, Oak Ridge National Laboratory


      h4 Program Committee
      ul
        li David Barrera, Carleton University
        li Daniel Best, Pacific Northwest National Laboratory
        li Gregory Conti, US Military Academy at West Point
        li Gustavo de los Reyes, AT&amp;T
        li Ron Dilley, UberAdmin
        li David Ebert, Purdue University
        li Alex Endert, Pacific Northwest National Laboratory
        li Rob Erbacher, Army Research Laboratory
        li Fabian Fischer, University of Konstanz
        li Deborah Frincke, US Department of Defense
        li Carrie Gates, Dell
        li John Gerth, Stanford University
        li Jörn Kohlhammer, Fraunhofer IGD
        li Tim Leschke, US Department of Defense and Johns Hopkins University
        li Celeste Lyn Paul, Department of Defense
        li Raffael Marty, PixlCloud
        li Chris Muelder, University of California Davis
        li Stephen North, Graphviz
        li Joe Parry, Cambridge Intelligence
        li Elisha Peterson, JHU Applied Physics Laboratory
        li Nicolas Prigent, Sup&#233;lec
        li Danny Quist, MIT Lincoln Laboratory
        li Chris Simpson, National University
        li Diane Staheli, MIT Lincoln Laboratory
        li Teryl Taylor, University of North Carolina
        li Olivier Thonnard, Symantec Research Labs Europe
        li Joanne Treurniet, Defence Research and Development Canada
        li David Trimm, US Department of Defense
        li Grant Vandenberghe, Defense Research and Development Canada
        li Sean Whalen, University of California San Francisco
        li Anatoly Yelizarov, Lomonosov Moscow State University
        li Tamara Yu, MIT Lincoln Laboratory

    section#contact
      .page-header
        h2 Contact
      p Email questions to <a href="mailto:vizsec#{year}@easychair.org">vizsec#{year}@easychair.org</a> or post to the <a href="https://groups.google.com/forum/#!forum/vizsec">Google Group</a>.

    include includes/foot